---
import "../styles/app.scss"
import favicon from "../assets/images/logo-png.png"
import PrimaryHeader from "../components/primary-header.component.astro"
import PrimaryFooter from "../components/primary-footer.component.astro"

const { APP_NAME, APP_AUTHOR, APP_DESCRIPTION, APP_KEYWORDS } = import.meta.env

const { title } = Astro.props
const theTitle: string = title ? `${APP_NAME} - ${title}` : APP_NAME
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content={APP_AUTHOR}>
		<meta name="description" content={APP_DESCRIPTION}>
		<meta name="keywords" content={APP_KEYWORDS}>

		<link rel="icon" type="image/png" href={favicon.src} />

		<title>{theTitle}</title>
	</head>
	<body>
		<a href="#main" class="btn btn-skip-navigation">
			Skip Navigation
		</a>

		<PrimaryHeader />

		<main id="main" class="primary-main">
			<div class="wrapper primary-main__wrapper mx-auto p-4 flow">
                <slot />
            </div>
		</main>

		<PrimaryFooter />
	</body>
</html>
